html {
    box-sizing: border-box;
    background-color: #000000;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}

ol {
    list-style: none;
}

.nav ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav a {
  color: #fff;
  padding: .5em;
  border-radius: 1em;
  text-decoration: none;
}

.masthead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
  font-size: 5rem;
}

.banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "banner";
    color: #fff;
    font-size: 5rem;
  }
  

.banner img {
  grid-area: banner;
  width: 100%;
}

.banner div {
  grid-area: banner;
  align-self: center;
  justify-self: center;
  padding: 2rem;
  text-align: center;
}

.welcome {
    background-color: #7055A4;
    margin: auto;
}

.profile {
    background-color: #7055A4;
}

.profile h3 {
  text-align: center;
}

.profile p {
  text-align: center;
}

body {
    line-height: 1.5;
    font-family: "Nunito";
    color: #ffffff;
}

.wrapper {
    max-width: 1200px;
    margin: 0%;
}

.wrapper p {
  margin-left: 3rem;
  margin-right: 3rem;
}

.profile img {
    filter: grayscale();
}

span {
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 2rem;
}

h2 {
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 2rem;
}

.profile img {
  border-radius: 50%;
}

ol {
  text-decoration: none;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "box1 box2"
    "box3 box4";
}

footer {
    color: #fff;
    font-size: .875rem;
    text-align: center;
    padding: 1rem;
  }
  
  footer * {
    margin: 0;
  }
  
