html {
    box-sizing: border-box;
    font-family: "Wix Madefor Display", sans-serif;
    line-height: 1.5;
    background-color: #ffffff;
  }
  
*, *::before, *::after {
    box-sizing: inherit;
  }

