html {
    box-sizing: border-box;
    background-color: #000000;
  }
  
*, *::before, *::after {
    box-sizing: inherit;
  }

body {
    line-height: 1.5;
    font-family: "Nunito";
    color: #ffffff;
}

.wrapper {
    max-width: 1200px;
    margin: 0%;
}

image {
    filter: grayscale();
}

h2 {
    font-family: "Wix Madefor Display", sans-serif;
}